<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>{video_name}</title>
	<link rel="stylesheet" type="text/css" href="../../../../build/potree/potree.css">
	<link rel="stylesheet" type="text/css" href="../../../../libs/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="../../../../libs/openlayers3/ol.css">
	<link rel="stylesheet" type="text/css" href="../../../../libs/spectrum/spectrum.css">
	<link rel="stylesheet" type="text/css" href="../../../../libs/jstree/themes/mixed/style.css">
</head>

<body>
	<script src="../../../../libs/jquery/jquery-3.1.1.min.js"></script>
	<script src="../../../../libs/spectrum/spectrum.js"></script>
	<script src="../../../../libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../../../libs/other/BinaryHeap.js"></script>
	<script src="../../../../libs/tween/tween.min.js"></script>
	<script src="../../../../libs/d3/d3.js"></script>
	<script src="../../../../libs/proj4/proj4.js"></script>
	<script src="../../../../libs/openlayers3/ol.js"></script>
	<script src="../../../../libs/i18next/i18next.js"></script>
	<script src="../../../../libs/jstree/jstree.js"></script>
	<script src="../../../../build/potree/potree.js"></script>
	<script src="../../../../libs/plasio/js/laslaz.js"></script>
	<script type="module">
		import * as THREE from "../../../../libs/three.js/build/three.module.js";
		window.viewer = new Potree.Viewer(document.getElementById("potree_render_area"));
		viewer.setEDLEnabled(true);
		viewer.setFOV(60);
		viewer.setEDLStrength(0);
		viewer.setPointBudget(50_000_000);
		viewer.loadSettingsFromURL();
		viewer.loadGUI(() => {
			viewer.setLanguage('zh');
			$("#menu_appearance").next().show();
			// viewer.toggleSidebar();
		});

		let sceneSG = new Potree.Scene();
		viewer.setScene(sceneSG);

		// 当前时间所在位置
		window.globalData = {
			playing: false,
			time_position: null,
			time_second: 0,
			time_table: {}, // {'0': {x,y,z}, '1': {x,y,z}, 'n': {x,y,z}, }
			image_table: {},
			time_number: 0,
			time_max: 0,
			image_360: null,
			enable_following: true,
			layer_visible: {},
		}

		// 轨迹/球
		let path = [];
		// let sphere = new THREE.Mesh(
		// 	new THREE.SphereGeometry(3, 32, 32),
		// 	new THREE.MeshNormalMaterial()
		// );
		let position_sphere = new THREE.Mesh(
			// {{ edit_1 }}
			new THREE.BoxGeometry(0.2, 0.2, 3), // 创建一个边长为3的球体
			new THREE.MeshBasicMaterial({ color: 0xff0000 }) // 设置材质为蓝色
			// {{ edit_1 }}
		);
		viewer.scene.scene.add(position_sphere);

		async function load_base() {

			let pointclouds = [
				{
					name: 'scene_01',
					url: "./model/metadata.json",
					visible: true,
					callback: (pointcloud) => {
						pointcloud.name = "外围";
						let material = pointcloud.material;
						material.size = 0.2;
						material.minSize = 0.02;
						material.pointSizeType = Potree.PointSizeType.ADAPTIVE;
					},
				}, 
			];

			// 记录显示状态
			pointclouds.map((layer)=>{
				window.globalData.layer_visible[layer.name] = layer.visible;
			});
			
			// 并行加载
			let promises = pointclouds.map(p => Potree.loadPointCloud(p.url));

			for (let i = 0; i < promises.length; i++) {
				// wait until this point cloud is loaded before processing the next one
				let pointcloud = (await promises[i]).pointcloud;
				let setting = pointclouds[i];
				setting.callback(pointcloud);
				viewer.scene.addPointCloud(pointcloud);
				pointcloud.visible = setting.visible;
				// 控制要不要显示
			}

			// viewer.fitToScreen(0.2);

			// var camera = viewer.scene.getActiveCamera();
			// camera.position.copy({x: -59.15735776296091, y: -14.284050634153772, z: 46.00792744438339, isVector3: true});
			// camera.target.copy(storedTarget);
			// camera.up.copy({x: 0, y: 0, z: 1, isVector3: true});
			// viewer.update();

			const camera = JSON.parse('{"position":{"x":-62.299830146446176,"y":-2.1294692146010235,"z":39.997072158897254},"yaw":-0.9333518366025492,"_pitch":-0.34624472424400954,"radius":100.44243657532994,"maxPitch":1.5707963267948966,"minPitch":-1.5707963267948966}');

			// default camera position
			viewer.scene.view.setView(
				[camera.position.x, camera.position.y, camera.position.z],
				[camera.position.x + 10, camera.position.y + 8, camera.position.z - 4],
			);

		}


		async function load_360() {
			// // 坐标系转换
			// proj4.defs("WGS84", "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs");
			// proj4.defs("pointcloud", viewer.getProjection());
			// // let transform = proj4("WGS84", "pointcloud");
			// let transform = proj4("pointcloud", "pointcloud");

			// 不需要转换
			let params = {
				// transform: transform
			};

			// this file contains coordinates, orientation and filenames of the images:
			let camera_folder = './360';
			let image360 = Potree.Images360Loader.load_OmegaPhiKappa(camera_folder, viewer, params).then(images => {
				// 对原始 image360 的位置进行调整
				let scale = 0.1;
				for (let img of images.images) {
					console.log(img);
					img.mesh.scale.set(scale, scale, scale);
					img.mesh.material.opacity = 1;
				}
				// 向场景中添加 image360 对象
				viewer.scene.add360Images(images);

				if (true) {
					// 添加轨迹
					path = images.images.map((v) => {
						let x = v.longitude;
						let y = v.latitude;
						let z = v.altitude;
						let t = v.time;
						let vector = [x, y, z];
						let coordinate = new THREE.Vector3(...vector);
						window.globalData.time_table[t.toString()] = vector;
						window.globalData.image_table[t.toString()] = v.file;
						window.globalData.time_max = t; // 最后一个是最大值
						return coordinate;
					});

					// 设置位置标记模型的初始位置
					window.globalData.image_360 = window.globalData.image_table['0'];
					const first_poistion = path['0'];
					if (first_poistion) {
						let first_vector = [first_poistion.x, first_poistion.y, first_poistion.z];
						window.globalData.time_position = first_poistion;
						// position_sphere.position.copy(...first_vector);
					}

					let animationPath = new Potree.AnimationPath(path);
					animationPath.closed = false;

					{ // render the path
						let geometry = animationPath.getGeometry();
						let material = new THREE.LineBasicMaterial({
							color: 0x00ff00,
							linewidth: 1, // 不生效
						});
						let line = new THREE.Line(geometry, material, { closed: animationPath.closed });
						viewer.scene.scene.add(line);
					}

					{ // Animate from beginning to end with a speed of 10 meters per second
						let start = 0;
						let end = Infinity;
						let speed = 5;
						let animation = animationPath.animate(start, end, speed, t => {
							animation.repeat = true;
							// let point = new THREE.Vector3(...target);
							let current_position = window.globalData.time_position;
							let ref_position = { ...current_position };
							ref_position.z += 0;
							// console.log('move to: ', point, window.globalData.time_number)
							position_sphere.position.copy(ref_position);

							// 360 image
							let img360 = window.globalData.image_360;
							if (img360 && window.globalData.image_360 != imgView.src) {
								imgView.src = img360;
							}
						});
						window.animation = animation;
					}

					window.animationPath = animationPath;
				}

			});
			viewer.mapView.showSources(false);
			viewer.fitToScreen(0.2);
		}

		load_360();
		load_base();

		const videoPlayer = document.getElementById('videoPlayer');
		const imgView = document.getElementById('imgView');

		function handleVideoTimeUpdate() {
			// console.log('当前播放时间: ', videoPlayer.currentTime);
			const second = Math.floor(videoPlayer.currentTime)
			const milsecond = videoPlayer.currentTime - second

			window.globalData.time_number = videoPlayer.currentTime;
			window.globalData.time_second = second;

			// 取对应的360图片
			window.globalData.image_360 = window.globalData.image_table[second.toString()];

			// 取当前/前一秒的位置
			let coordinates_begin = window.globalData.time_table[second.toString()];
			let addition_begin = 0;

			while (true) {
				let next_second = second - addition_begin;
				coordinates_begin = window.globalData.time_table[next_second.toString()];
				if (coordinates_begin) {
					break;
				} else {
					if (next_second - 1 < 0) {
						break;
					} else {
						// continue;
					}
				}
				addition_begin += 1;
			}

			// 下一秒没找到时，一直往后面找，且不能超出最后视频时间
			let coordinates_end = null;
			let addition_end = 0;

			while (true) {
				addition_end += 1;
				let next_second = second + addition_end;
				coordinates_end = window.globalData.time_table[next_second.toString()];
				if (coordinates_end) {
					break;
				} else {
					if (next_second > window.globalData.time_max) {
						break;
					} else {
						// continue;
					}
				}
			}
			if (coordinates_begin && coordinates_end) {
				let x = coordinates_begin[0] + (coordinates_end[0] - coordinates_begin[0]) / (addition_begin + addition_end) * (addition_begin + milsecond)
				let y = coordinates_begin[1] + (coordinates_end[1] - coordinates_begin[1]) / (addition_begin + addition_end) * (addition_begin + milsecond)
				let z = coordinates_begin[2] + (coordinates_end[2] - coordinates_begin[2]) / (addition_begin + addition_end) * (addition_begin + milsecond)
				let vector = [x, y, z];
				window.globalData.time_position = new THREE.Vector3(...vector);

				// 跟随
				if (window.globalData.enable_following) {
					// 设置视角
					const pre_camera = coordinates_begin;
					if (pre_camera) {
						viewer.scene.view.setView(
							[
								pre_camera[0] - (coordinates_end[0] - pre_camera[0]) * 10,
								pre_camera[1] - (coordinates_end[1] - pre_camera[1]) * 10,
								pre_camera[2] + 40,
							],
							coordinates_end,
						);
					} else {
						viewer.scene.view.setView(
							[pre_camera[0], pre_camera[1], pre_camera[2]],
						);
					}
				}
			} else {
				// 算不出来，就不动了
			}
		}

		// 获取当前播放时间
		videoPlayer.addEventListener('timeupdate', () => {
			handleVideoTimeUpdate();
		});

		// 监听播放事件
		videoPlayer.addEventListener('play', () => {
			// console.log('视频正在播放');
			window.globalData.playing = true;
		});

		// 监听暂停事件
		videoPlayer.addEventListener('pause', () => {
			// console.log('视频已暂停');
			window.globalData.playing = false;
		});

		videoPlayer.addEventListener('seeked', function () {
			// console.log('用户已拖动进度条，当前时间为：' + videoPlayer.currentTime);
			handleVideoTimeUpdate();
		});
		function onPlayVideo() {
			const inputButton = document.getElementById('btnPlayVideo');
			if (videoPlayer.paused) {
				inputButton.textContent = "暂停播放";
				videoPlayer.play();
			} else {
				inputButton.textContent = "继续播放";
				videoPlayer.pause();
			}
		}
		window.onPlayVideo = onPlayVideo;

		function onEnter360() {
		}
		window.onEnter360 = onEnter360;

		function onChangeModel(e) {
			// console.log(e.checked);
			window.globalData.enable_following = e.checked;
		}
		window.onChangeModel = onChangeModel;

		async function loadDefectData() {
			let defect_data_file = './data/defect.csv';
			const response = await fetch(defect_data_file);
			const text = await response.text();
			const rows = text.split("\n").map(row => row.split("\t"));
			rows.shift();

			// 创建表格
			const div_panel = document.createElement("div");
			// div_panel.style.width = "100%";
			div_panel.setAttribute("style", "width: 100%; padding: 4px;");

			// 添加数据行
			let time = '';
			let space = '';
			let equipment = '';
			let defect_type = '';
			let empty_content = '';
			for (let i = 0; i < rows.length - 1; i++) {
				const row = rows[i];
				const second = row[0];
				const div_row = document.createElement("div");
				const div_column_icon = document.createElement("div");
				const div_column_time = document.createElement("div");
				div_column_time.setAttribute("style", "width: 60px; text-decoration: underline; cursor: pointer;");

				if (time !== row[2]) {
					time = row[2];
					div_column_time.textContent = time;
					div_column_time.onclick = function () {
						// 在这里添加你想要执行的代码
						console.log("时间列被点击了", second);
						videoPlayer.currentTime = second;
						// 设置视角
						const camera = window.globalData.time_table[second.toString()];
						if (camera) {
							const pre_camera = window.globalData.time_table[(second - 1).toString()];
							if (pre_camera) {
								viewer.scene.view.setView(
									[
										pre_camera[0] - (camera[0] - pre_camera[0]) * 5,
										pre_camera[1] - (camera[1] - pre_camera[1]) * 5,
										pre_camera[2] + 10,
									],
									[camera[0], camera[1], camera[2]],
								);
							} else {
								viewer.scene.view.setView(
									[camera[0], camera[1], camera[2]],
								);
							}
						}
					};
					// reset
					space = '';
					equipment = '';
					// show icon
					div_column_icon.setAttribute("style", "width: 10px; height: 8px; background-color: rgba(255,255,0,0.9); margin: 4px");
					// set row style
					div_row.setAttribute("style", "display: flex; flex-direction: row; width: 100%; padding: 4px; background-color: rgba(0,0,0,0.5); margin-top: 4px;");
				} else {
					div_column_time.textContent = empty_content;
					// hide icon
					div_column_icon.setAttribute("style", "width: 10px; height: 8px; background-color: rgba(255,255,0,0); margin: 4px");
					div_row.setAttribute("style", "display: flex; flex-direction: row; width: 100%; padding: 4px; background-color: rgba(0,0,0,0.5); margin-top: 0px;");
				}

				const div_column_space = document.createElement("div");
				div_column_space.setAttribute("style", "width: 60px; ");
				if (space !== row[4]) {
					space = row[4];
					div_column_space.textContent = space;
				} else {
					div_column_space.textContent = empty_content;
				}

				const div_column_equipment = document.createElement("div");
				div_column_equipment.setAttribute("style", "width: 40px;");
				if (equipment !== row[5]) {
					equipment = row[5];
					div_column_equipment.textContent = equipment;
				} else {
					div_column_equipment.textContent = empty_content;
				}

				const div_column_defect_type = document.createElement("div");
				div_column_defect_type.setAttribute("style", "width: 60px;");
				if (defect_type !== row[6]) {
					defect_type = row[6];
					div_column_defect_type.textContent = defect_type;
				} else {
					div_column_defect_type.textContent = empty_content;
				}

				div_row.appendChild(div_column_icon);
				div_row.appendChild(div_column_time);
				div_row.appendChild(div_column_space);
				div_row.appendChild(div_column_equipment);
				div_row.appendChild(div_column_defect_type);
				div_panel.appendChild(div_row);
			}

			// 将表格添加到页面
			let htmlDoc = document.getElementById("defect")
			htmlDoc.appendChild(div_panel);
		}

		// 调用加载函数
		// loadDefectData();
	</script>
	<div class="potree_container" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; ">
		<div id="potree_render_area"
			style="background-image: url('../../build/potree/resources/images/background.jpg');">
		</div>
		<div
			style="position: absolute; top: 0px; right: 0px; z-index: 999; width: 300px; height: 100%; background-color: rgba(0, 0, 0, 0.6); color: white; ">
			<div style="padding-left: 8px;">
				<span>质检视频</span>
			</div>
			<div style="background-color: black;">
				<video id="videoPlayer" width="300" height="300" controls>
					<source src="./video/DJI_20250228_065251_716_video.MP4" type="video/mp4">
				</video>
				<div style="padding: 0px 0px 16px 16px; text-align: left;">
					<input type="checkbox" value="1" onchange="onChangeModel(this)" checked><span
						style="padding: 4px;">跟随摄像机移动</span></input>
				</div>
			</div>
			<!-- <div style="position: absolute; top: 308px; right: 8px; z-index: 999999999;">
					<button id="btnPlayVideo" onclick="onPlayVideo()">播放视频</button>
					<button id="btn360View" onclick="onEnter360()">进入全景</button>
				</div> -->
			<div style="padding-left: 8px;">
				<span>图片采样</span>
			</div>
			<img id="imgView" src="" onerror="" style="width: 100%;" />
			<div style="padding-left: 8px;">
				<span>缺陷记录</span>
			</div>
			<div id="defect" style="overflow:auto; overflow-x:hidden; font-size: 10pt; height: 300px;">
			</div>
			<div style="padding-left: 8px;">
				<span>更新日期</span>
			</div>
			<div id="defect" style=" width: 100%; background-color: rgba(0, 0, 0, 0.6); padding: 8px; font-size: 10pt;">
				<span>2024-12-16</span>
			</div>
		</div>
		<div id="potree_sidebar_container"></div>
	</div>
</body>

</html>